{% extends "base.html.twig" %}

{% block body %}
    <h1>Ajouter une catégorie : </h1>
    <form method="post">
        <input type="text" name="Icon">
        <input type="text" name="Libelle">

        <input type="submit" value="Enregistrer les modifications">
    </form>

{% endblock %}